.cart-display {
    padding: 20px;
}

.item-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-image-box {
    width: 50px; /* adjust as needed */
    height: 50px; /* adjust as needed */
    background-color: #f0f0f0; /* placeholder for the image */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* space between image and text */
}

.item-details {
    display: flex;
    flex-direction: column;
}
